## 숙소 목록 크롤링(여기어때)

숙소 목록

인기숙소 : https://www.goodchoice.kr/product/home/숙소별,지역별번호

모텔 : https://www.goodchoice.kr/product/search/1/지역번호

호텔.리조트 : https://www.goodchoice.kr/product/search/2/지역번호

펜션 : https://www.goodchoice.kr/product/search/3/지역번호


기간지정시 https://www.goodchoice.kr/product/search/2/지역번호/sel_date=2023-04-03&sel_date2=2023-05-02

상세 페이지 : https://www.goodchoice.kr/product/detail?ano=4060&adcno=1&sel_date=2023-05-31&sel_date2=2023-06-01
// ano는 상품의 번호, adcno는 상품 할인 정보로 예상됨 (adcno는 없어도 되지만 ano는 없으면 안됨, 지역별로 숫자의 순서는 상관이 없는 것으로 예상됨)

In [12]:
import time
import requests
import json
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

### 숙소 목록 페이지 크롤링
숙소 목록 크롤링 후 저장

In [13]:
item_list = []

In [7]:
category =input()
# 1 : 모텔, 2 : 호텔.리조트, 3: 펜션


url =f"https://www.goodchoice.kr/product/search/{category}"
resp = requests.get(url)
soup = BeautifulSoup(resp.content , "html.parser")
getitem = soup.select("#poduct_list_area li")

for item in getitem:
    # try:
        item_name = item.select_one('.name')
        item_a = item.select_one('a')

        name = item_name.select_one('strong').text.strip()
        if (item_name.select_one('p em') == None) :
            score = 0
        else:
            score = item_name.select_one('p em').text.strip()
        region = item_name.select('p')[1].text.strip()
        ano = item_a['data-ano']
        lat = item_a['data-alat']
        lng = item_a['data-alng']
        pic_url = 'https:'+item.select_one('.pic img')['data-original']

        item_list.append({
                'category' : category,
                'name' : name,
                'score': score,
                'region' : region,
                'ano' : ano,
                'lat' : lat,
                'lng': lng,
                'pic_url' : pic_url
            })
        
    # except:
    #     print('error')

### 데이터 확인

In [8]:
# category : 숙소 카테고리, name : 숙소명, score : 평점, region : 지역, ano : 상품번호, 
# lat : 위도, lng 경도, pic_url : 대표사진 url
df = pd.DataFrame(item_list)

df.head()
print(len(df))

266

### 데이터 저장

In [11]:
df.to_csv(f"../data/여기어때_숙소목록전체.csv" ,encoding="utf-8")
df.head()

,category,name,score,region,ano,lat,lng,pic_url
0,1,강남 더 뮤즈,9.8,강남구 역삼동,1824,37.50252991,127.0382753,https://image.goodchoice.kr/resize_1000X500x0/...
1,1,역삼 호텔 디 아티스트,9.3,강남구 역삼동,5675,37.50241452,127.0384878,https://image.goodchoice.kr/resize_1000X500x0/...
2,1,역삼 리치웰,9.3,강남구 역삼동,3805,37.5029727,127.0398226,https://image.goodchoice.kr/resize_1000X500x0/...
3,1,강남 캠퍼스,9.3,강남구 역삼동,4988,37.49731028,127.0291896,https://image.goodchoice.kr/resize_1000X500x0/...
4,1,역삼 인트로호텔,9.9,강남구 역삼동,72748,37.502753543996,127.03992345865,https://image.goodchoice.kr/resize_1000X500x0/...